<!DOCTYPE html>
<html>
  <head>
    <title>Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Hair Salon</h1>
      <p><a href="/">Salon Home</a></p>
    </div>
    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
